<div class="flex flex-col items-center bg-white w-full h-[90%] shadow-md overflow-hidden">
    <div class="bg-[#E6E5E5] w-full flex justify-between items-center relative">
        <div class="w-10"></div>
        <p class="text-[#0E9B86] text-center text-2xl font-bold py-2 flex-grow">
            {{ title }}
        </p>
        <button
            class="text-black text-2xl font-bold px-4"
            *ngIf="newEmployee"
            (click)="closeEmployeeForm()"
        >
            &times;
        </button>
    </div>
    <div class="p-6 flex items-center gap-2 w-full justify-center"
        *ngIf="search"
    >
        <div class="relative w-full">
            <input
                type="text"
                placeholder="Buscar..."
                class="border rounded-md text-sm w-full text-[#005F6E] pr-10"
                [(ngModel)]="searchText"
                id="searchInput"
                (keyup.enter)="isValidSearch(searchText) && searchEmployeeOrProspect()"
            >
            <button 
                *ngIf="searchText"
                type="button"
                class="absolute inset-y-0 right-0 flex items-center pr-3 focus:outline-none"
                (click)="searchText=''"
                tabindex="-1"
            >
                <svg class="w-5 h-5 text-gray-400 hover:text-gray-600" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
            <!-- Dropdown de resultados para prospectos -->
            <div *ngIf="title !== 'Empleados' && showProspectDropdown && filteredData.length > 0"
                class="absolute left-0 right-0 mt-2 bg-white border rounded shadow max-h-60 overflow-y-auto z-20">
                <button *ngFor="let p of filteredData" 
                    (click)="selectProspect(p)"
                    class="w-full text-left px-3 py-2 hover:bg-gray-100">
                    <div class="font-medium">{{ p.fcNombre }} {{ p.fcPaterno }} {{ p.fcMaterno }}</div>
                    <div class="text-xs text-gray-500">{{ p.fcMail || p.fcNumero || '' }}</div>
                </button>
            </div>
        </div>
        <button
            title="Buscar"
            (click)="isValidSearch(searchText) && searchEmployeeOrProspect()"
            class="bg-[#383A6B] text-white rounded-full w-10 h-10 flex items-center justify-center hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400"
        >
            <i class="bx bx-search text-lg"></i>
        </button>
    </div>
    <div 
        *ngIf="viewEmployee"
        class="w-full pl-6 pr-6 pt-6 flex justify-end gap-2">
        <button
            *ngIf="!inputsEditables"
            (click)="inputsEditables = true"
            title="Editar empleado"
            aria-label="Editar empleado">
            <i class="bx bx-pencil" style="font-size:24px; color:#005F6E"></i>
        </button>
        <button *ngIf="!inputsEditables" class="text-[#005F6E]"
            (click)="openBajaEmployee()"
             title="Dar de baja empleado"
            aria-label="Dar de baja empleado">
            <i class="bx bx-trash" style="font-size:24px; color:#005F6E"></i>
        </button>
        <button *ngIf="!inputsEditables" class="text-[#005F6E]"
            (click)="openVetarEmployee()"
            title="Vetar empleado"
            aria-label="Vetar empleado">
            <i class="bx bx-user-x" style="font-size:32px; color:#c42a2a"></i>
        </button>
    </div>
    <div class="relative group flex items-center justify-between px-6 pb-2 w-full"
        *ngIf="!newEmployee"
    >
        <p class="text-sm text-[#0E9B86] font-bold">
            Total de registros: {{ getTotalRegistros() }}
        </p>
        <button
          class="bg-[#383A6B] text-white rounded-sm shadow hover:bg-purple-700"
          (click)="showColumnMenu = !showColumnMenu"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="w-5 h-5">
                <rect x="3" y="4" width="18" height="16" rx="2" ry="2"></rect>
                <line x1="9" y1="4" x2="9" y2="20"></line>
                <line x1="15" y1="4" x2="15" y2="20"></line>
            </svg>
        </button>
    </div>
    <div class="overflow-x-auto px-6 pb-2 w-full">
        <div
            *ngIf="getTotalRegistros() === 0 && !newEmployee"
            class="flex items-center justify-center text-gray-400 py-10"
            >
            <i class="bx bxs-error-circle text-xl mr-2"></i>
            <p class="text-2xl">Realiza una consulta para ver los empleados.</p>
        </div>
        <div *ngIf="getTotalRegistros() >= 1 && !newEmployee" class="max-h-[83%] overflow-scroll">
            <table
            class="w-full border-collapse rounded-lg overflow-hidden overflow-y-auto">
                <thead class="bg-gray-200 text-sm text-gray-700">
                    <tr>
                        <th *ngFor="let col of columnas"
                        class="px-3 py-2 text-left cursor-pointer select-none sticky top-0 z-10 bg-gray-200"
                        [hidden]="!col.visible"
                        (click)="sortByColumn(col)">
                        {{ col.label }}
                            <span *ngIf="sortColumn === col.field">
                                <svg *ngIf="sortDirection === 'asc'" class="inline w-3 h-3 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M5 15l7-7 7 7"></path></svg>
                                <svg *ngIf="sortDirection === 'desc'" class="inline w-3 h-3 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M19 9l-7 7-7-7"></path></svg>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                    *ngFor="let row of filteredData"
                    class="border-b hover:bg-[#E6E5E5] transition-colors"
                    (click)="viewInfoEmployee(row)"
                    >
                        <td
                        *ngFor="let col of columnas"
                        [ngClass]="{
                            'text-gray-400': row.fiIdStatus === 0,
                            'text-[#005F6E]': row.fiIdStatus === 1,
                            'text-red-600': row.fiIdStatus === 2
                        }"
                        class="px-3 py-2 whitespace-nowrap font-bold"
                        [hidden]="!col.visible">
                                {{ row[col.field] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-end w-full">
            <button
                *ngIf="getTotalRegistros() >= 1 && !newEmployee"
                (click)="downloadExcel()"
                class="bg-[#217346] text-white font-bold py-2 px-5 hover:bg-[#2e9b58] mt-4 mb-2 mr-2"
                >
                <i class="bx bx-file mr-2"></i>
                XLSX
            </button>
            <button
                (click)="openNewEmployeeForm()"
                *ngIf="!newEmployee"
                class="bg-[#005F6E] text-white rounded-md py-2 px-4 hover:bg-[#004C58] mt-4 mb-2 mr-2"
                >
                <i class="bx bx-plus mr-2"></i>
                Nuevo
            </button>
        </div>
    </div>
    <div *ngIf="newEmployee" class="w-full p-6 justify-center max-h-[98%] overflow-y-auto">
        <!-- Barra de progreso -->
        <div class="relative mb-8">
            <!-- Etiquetas de pasos -->
            <div class="flex justify-between mb-2 font-bold">
            <div class="text-center" [ngClass]="{'text-[#0E9B86]': currentStep >= 1, 'text-gray-400': currentStep < 1}">Datos Generales</div>
            <div class="text-center" [ngClass]="{'text-[#0E9B86]': currentStep >= 2, 'text-gray-400': currentStep < 2}">Dirección</div>
            <div class="text-center" [ngClass]="{'text-[#0E9B86]': currentStep >= 3, 'text-gray-400': currentStep < 3}">Datos Laborales</div>
            <div class="text-center" [ngClass]="{'text-[#0E9B86]': currentStep >= 4, 'text-gray-400': currentStep < 4}">Documentos</div>
            <div class="text-center" [ngClass]="{'text-[#0E9B86]': currentStep >= 5, 'text-gray-400': currentStep < 5}">Referencias</div>
            </div>
            
            <!-- Línea de progreso -->
            <div class="flex items-center justify-between">
            <!-- Línea base -->
            <div class="absolute h-3 bg-gray-200 w-full"></div>
            
            <!-- Línea de progreso -->
            <div class="absolute h-3 bg-red-500" 
                [ngStyle]="{'width': (currentStep - 1) * 25 + '%'}"></div>
            
            <!-- Círculos indicadores -->
            <button (click)="goToStep(1)" 
                    class="relative rounded-full h-16 w-16 flex items-center justify-center z-10"
                    [ngClass]="{'bg-red-500 text-white': currentStep === 1, 'bg-white border-2 border-red-500': currentStep > 1, 'bg-gray-200': currentStep < 1}">
                <i class="bx bx-user text-3xl"></i>
            </button>
            
            <button (click)="goToStep(2)" 
                    class="relative rounded-full h-16 w-16 flex items-center justify-center z-10"
                    [ngClass]="{'bg-red-500 text-white': currentStep === 2, 'bg-white border-2 border-red-500': currentStep > 2, 'bg-gray-200': currentStep < 2}">
                <i class="bx bx-map text-3xl"></i>
            </button>
            
            <button (click)="goToStep(3)" 
                    class="relative rounded-full h-16 w-16 flex items-center justify-center z-10"
                    [ngClass]="{'bg-red-500 text-white': currentStep === 3, 'bg-white border-2 border-red-500': currentStep > 3, 'bg-gray-200': currentStep < 3}">
                <i class="bx bx-briefcase text-3xl"></i>
            </button>
            
            <button (click)="goToStep(4)" 
                    class="relative rounded-full h-16 w-16 flex items-center justify-center z-10"
                    [ngClass]="{'bg-red-500 text-white': currentStep === 4, 'bg-white border-2 border-red-500': currentStep > 4, 'bg-gray-200': currentStep < 4}">
                <i class="bx bx-file text-3xl"></i>
            </button>
            
            <button (click)="goToStep(5)" 
                    class="relative rounded-full h-16 w-16 flex items-center justify-center z-10"
                    [ngClass]="{'bg-red-500 text-white': currentStep === 5, 'bg-white border-2 border-red-500': currentStep > 5, 'bg-gray-200': currentStep < 5}">
                <i class="bx bx-phone text-3xl"></i>
            </button>
            </div>
        </div>
        
        <!-- Contenido del paso actual -->
        <div [ngSwitch]="currentStep" class="mt-8">
            <!-- Paso 1: Datos Generales -->
            <div *ngSwitchCase="1">
                <div class="grid grid-cols-3 gap-4">
                    <div>
                    <label class="block text-sm font-medium text-[#E57373] mb-1 ">Nombre(s):</label>
                    <input type="text" 
                        [(ngModel)]="employeeData.fcNombre"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />
                    
                    <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">CURP:</label>
                    <input type="text" 
                        maxlength="18"
                        [(ngModel)]="employeeData.fcCurp"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />

                    <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Fecha de nacimiento:</label>
                    <input type="date" 
                        [(ngModel)]="employeeData.fdFechaNac"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />

                    <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Estado civil:</label>
                    <select 
                        [(ngModel)]="selectedCivilStatus"
                        name="selectedCivilStatus"
                        [disabled]="!inputsEditables"    
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">
                        <option value="" disabled selected>Selecciona estado civil...</option>
                        <option *ngFor="let s of civilStatuses" [value]="s.fiIdEstadoCivil">
                            {{ s.fcEstadoCivil }}
                        </option>
                    </select>
                    </div>
                    
                    <div>
                    <label class="block text-sm font-medium text-[#E57373] mb-1">Apellido paterno:</label>
                    <input type="text" 
                        [(ngModel)]="employeeData.fcPaterno"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">

                    <label class="block text-sm font-medium text-[#E57373] mb-1 mt-2">RFC:</label>
                    <input type="text" 
                        maxlength="13"
                        [(ngModel)]="employeeData.fiIdEmpleado"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">

                    <label class="block text-sm font-medium text-[#E57373] mb-1 mt-2">Celular:</label>
                    <input type="text" 
                        inputmode="numeric"
                        pattern="[0-9]*"
                        maxlength="10"
                        [(ngModel)]="employeeData.fcNumero"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">

                    <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Perfil:</label>
                    <select 
                        [(ngModel)]="selectedProfile"
                        name="selectedProfile"
                        [disabled]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">
                        <option value="" disabled selected>Selecciona un perfil...</option>
                        <option *ngFor="let profile of profiles" [value]="profile.fiIdTecnologia">{{ profile.fcTecnologia }}</option>
                    </select>
                    </div>

                    <div>
                    <label class="block text-sm font-medium text-[#E57373] mb-1">Apellido materno:</label>
                    <input type="text" 
                        [(ngModel)]="employeeData.fcMaterno"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">

                    <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">NSS:</label>
                    <input type="number" 
                        [(ngModel)]="employeeData.fcNss"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">

                    <label class="block text-sm font-medium text-[#E57373] mb-1 mt-2">E-Mail:</label>
                    <input type="email" 
                        [(ngModel)]="employeeData.fcMail"
                        [readonly]="!inputsEditables"
                        class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">
                    </div>
                    
                </div>
                <div class="flex justify-end gap-4 mt-8">
                    <button 
                    *ngIf="inputsEditables"
                    (click)="saveGeneralInfo()" 
                    class="bg-[#005F6E] text-white rounded-md py-2 px-4 hover:bg-[#004C58]">
                    <i class="bx bx-save mr-2"></i>
                    Guardar
                    </button>
                </div>
            </div>
            
            <!-- Paso 2: Dirección -->
            <div *ngSwitchCase="2">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1 ">Calle:</label>
                        <input type="text" 
                            [(ngModel)]="employeeAddress.fcCalle"
                            [readonly]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2 ">Codigo postal:</label>
                        <input 
                            type="text"
                            inputmode="numeric"
                            pattern="[0-9]*"
                            maxlength="5"
                            size="5"
                            [(ngModel)]="employeeAddress.fiCp"
                            (input)="onCpInput($event)"
                            [readonly]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Colonia:</label>
                        <select 
                            [(ngModel)]="employeeAddress.fiIdColonia"
                            name="selectedColony"
                            [disabled]="!inputsEditables"
                            (ngModelChange)="selectColony($event)"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91']">
                            <option [ngValue]="null" disabled>Selecciona una colonia...</option>
                            <option *ngFor="let colony of colonies" [ngValue]="colony.fiIdColonia">
                                {{ colony.fcColonia }}
                            </option>
                        </select>

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Estado:</label>
                        <select 
                            [(ngModel)]="employeeAddress.fiIdEstado"
                            name="selectedState"
                            (ngModelChange)="selectState($event)"
                            [disabled]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">
                            <option [ngValue]="null" disabled>Selecciona un estado...</option>
                            <option *ngFor="let state of states" [ngValue]="state.fiIdEstado">
                                {{ state.fcEstado }}
                            </option>
                        </select>
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1 ">No. exterior:</label>
                        <input type="text" 
                            [(ngModel)]="employeeAddress.fcNumExt"
                            [readonly]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">No. interior:</label>
                        <input type="text" 
                            [(ngModel)]="employeeAddress.fcNumInt"
                            [readonly]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Municipio:</label>
                        <select 
                            [(ngModel)]="employeeAddress.fiIdMunicipio"
                            name="selectedMunicipality"
                            (ngModelChange)="selectMunicipality($event)"
                            [disabled]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91']">
                            <option [ngValue]="null" disabled>Selecciona un municipio...</option>
                            <option *ngFor="let municipality of municipalities" [ngValue]="municipality.fiIdMunicipio">
                                {{ municipality.fcMunicipio }}
                            </option>
                        </select>

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">País:</label>
                        <select 
                            [(ngModel)]="employeeAddress.fiIdPais"
                            name="selectedCountry"
                            [disabled]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91']">
                            <option [ngValue]="null" disabled>Selecciona un país...</option>
                            <option *ngFor="let country of countries" [ngValue]="country.fiIdPais ">
                                {{ country.fcPais }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="flex justify-end gap-4 mt-8">
                    <button 
                    *ngIf="inputsEditables"
                    (click)="openMaps()" 
                    class="bg-[#0E9B86] text-white py-2 px-4 rounded-md hover:bg-[#0c8076]">
                    <i class="bx bx-map mr-2"></i>
                    Usar Maps
                    </button>
                    <button 
                    *ngIf="inputsEditables"
                    (click)="saveAddress()" 
                    class="bg-[#005F6E] text-white rounded-md py-2 px-4 hover:bg-[#004C58]">
                    <i class="bx bx-save mr-2"></i>
                    Guardar
                    </button>
                </div>
            </div>

            <!-- Paso 3: Datos Laborales -->
            <div *ngSwitchCase="3">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1 ">Fecha de ingreso:</label>
                        <input type="date" 
                            [(ngModel)]="employeeData.fdFechaAlta"
                            [readonly]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2 ">Salario:</label>
                        <input type="number" 
                            [(ngModel)]="employeeData.fiSalario"
                            [readonly]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Numero de cuenta:</label>
                        <input type="number" 
                            [(ngModel)]="employeeData.fiNumeroCuenta"
                            [readonly]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1 ">Banco:</label>
                        <select 
                            [(ngModel)]="selectedBank"
                            name="selectedBank"
                            [disabled]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">
                            <option value="" disabled selected>Selecciona un banco...</option>
                            <option *ngFor="let banco of bancos" [value]="banco.fiIdBanco">{{ banco.fcNombre }}</option>
                        </select>

                        <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Cuenta clave:</label>
                        <input
                            type="text"
                            inputmode="numeric"
                            pattern="[0-9]*"
                            maxlength="18"
                            [(ngModel)]="employeeData.fcCuenta"
                            (input)="onCuentaInput($event)"
                            [readonly]="!inputsEditables"
                            class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]" />
                    </div>
                </div>
                <div class="flex justify-end gap-4 mt-8">
                    <button 
                    *ngIf="inputsEditables"
                    (click)="saveLaboralInfo()" 
                    class="bg-[#005F6E] text-white rounded-md py-2 px-4 hover:bg-[#004C58]">
                    <i class="bx bx-save mr-2"></i>
                    Guardar
                    </button>
                </div>
            </div>

            <!-- Paso 4: Documentos -->
            <div *ngSwitchCase="4">
                <div 
                    *ngIf="inputsEditables && hasUnassignedRequirements()"
                    class="relative border-2 border-dashed border-gray-300 rounded-lg p-8 text-center cursor-pointer transition-colors duration-200 ease-in-out hover:border-blue-500 hover:bg-blue-50"
                    (dragover)="onDragOver($event)" 
                    (dragleave)="onDragLeave($event)" 
                    (drop)="onDrop($event)"
                    (click)="inputsEditables ? onFileInputClick() : inputsEditables = true"
                    [class.border-blue-500]="isDragging"
                    [class.bg-blue-50]="isDragging">

                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    
                    <p class="mt-2 text-sm text-gray-600">
                        <span class="font-medium text-blue-600">Haz clic para subir</span> o arrastra y suelta tus archivos
                    </p>
                    <p class="text-xs text-gray-500">PDF o JPEG para fotografía</p>

                    <input 
                        #fileInput
                        type="file" 
                        multiple 
                        class="hidden" 
                        (change)="onFileSelected($event)"
                        accept="image/png, image/jpeg, application/pdf">
                </div>

                <div *ngIf="uploadedFiles.length > 0 && inputsEditables" class="space-y-4">
                    <h3 class="text-lg font-medium text-gray-900">Archivos pendientes de asignar</h3>
                    
                    <div *ngFor="let item of uploadedFiles" 
                        class="flex flex-col sm:flex-row sm:items-center sm:justify-between p-4 border border-gray-200 rounded-md shadow-sm space-y-3 sm:space-y-0">
                        
                        <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate">{{ item.file.name }}</p>
                        <p class="text-sm text-gray-500">{{ formatBytes(item.file.size) }}</p>
                        </div>

                        <div class="flex items-center space-x-2">
                        <select 
                            (change)="assignCategory(item.id, $event)"
                            class="block w-full sm:w-56 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-sm">
                            <option value="" selected disabled>Asignar a...</option>
                            <option *ngFor="let req of requirements" 
                                    [value]="req.fiIdTipoDocumento"
                                    [disabled]="isCategoryAssigned(req.fiIdTipoDocumento)">
                                {{ req.fcNombre }}
                            </option>
                        </select>
                        
                        <button (click)="removeFile(item.id)" class="text-red-600 hover:text-red-800 p-1 rounded-full hover:bg-red-100">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                        </button>
                        </div>

                    </div>
                </div>

                <div *ngIf="assignedFiles.length > 0" class="space-y-4 mt-6">
                    <h3 class="text-lg font-medium text-gray-900">Archivos asignados</h3>
                    <div *ngFor="let item of assignedFiles" 
                        class="flex flex-col sm:flex-row sm:items-center sm:justify-between p-4 border border-gray-200 rounded-md shadow-sm space-y-3 sm:space-y-0">
                        
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate">{{ item.file.name }}</p>
                            <p class="text-sm text-gray-500">{{ formatBytes(item.file.size) }}</p>
                        </div>
                        
                        <div class="flex items-center space-x-2">
                            <!-- Muestra el requisito asignado -->
                            <span class="inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                {{ getAssignedRequirementName(item) }}
                            </span>
                            <button
                                (click)="verArchivo(item)"
                                class="p-1 text-blue-600 hover:text-blue-800 rounded-full hover:bg-blue-100 flex items-center justify-center"
                                aria-label="Ver archivo">
                                <i class="bx bx-show" style="font-size:18px"></i>
                            </button>
                        </div>
                        <button *ngIf="inputsEditables" (click)="quitarArchivoAsignado(item)" class="text-red-600 hover:text-red-800 p-1 rounded-full hover:bg-red-100">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                        </button>
                    </div>
                </div>
                <div class="flex justify-end gap-4 mt-8">
                    <button 
                    *ngIf="inputsEditables"
                    (click)="saveDocuments()" 
                    class="bg-[#005F6E] text-white rounded-md py-2 px-4 hover:bg-[#004C58]">
                    <i class="bx bx-save mr-2"></i>
                    Guardar
                    </button>
                </div>
            </div>

            <!-- Paso 5: Referencias -->
            <div *ngSwitchCase="5">
               <div class="grid grid-cols-3 gap-4">
                    <ng-container *ngFor="let idx of [0,1,2]; let i = index">
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1 ">Nombre:</label>
                            <input type="text"
                                [(ngModel)]="references[i].fcNombre"
                                [readonly]="!inputsEditables"
                                class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 focus:ring-2" />

                            <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Tipo:</label>
                            <select
                                [(ngModel)]="references[i].fiIdTipoReferencia"
                                name="selectedReference{{i}}Type"
                                [disabled]="!inputsEditables"
                                class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 focus:ring-2">
                                <option [ngValue]="null" disabled>Selecciona el tipo de referencia...</option>
                                <option *ngFor="let referencia of tipoReferencia" [ngValue]="referencia.fiIdReferencia">
                                    {{ referencia.descripcion }}
                                </option>
                            </select>

                            <label class="block text-sm font-medium text-gray-700 mb-1 mt-2">Teléfono:</label>
                            <input type="text"
                                [(ngModel)]="references[i].fiTelefono"
                                [readonly]="!inputsEditables"
                                class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 focus:ring-2" />
                        </div>
                    </ng-container>
                </div>
                <div class="flex justify-end gap-4 mt-8">
                    <button 
                    *ngIf="inputsEditables"
                    (click)="saveReferences()" 
                    class="bg-[#005F6E] text-white rounded-md py-2 px-4 hover:bg-[#004C58]">
                    <i class="bx bx-save mr-2"></i>
                    Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Menú de selección de columnas -->
<div 
    *ngIf="showColumnMenu"
    class="fixed top-20 right-10 w-64 bg-white border rounded-lg shadow-lg z-50 p-4"
>
    <h3 class="font-bold mb-2 text-[#383A6B] text-sm">Selecciona columnas</h3>
    <div class="flex flex-col gap-2 max-h-60 overflow-y-auto">
        <label *ngFor="let col of columnas" class="flex items-center gap-2 text-sm">
            <input type="checkbox" [(ngModel)]="col.visible" />
            {{ col.label }}
        </label>
    </div>
    <button
        class="mt-4 w-full bg-[#383A6B] text-white rounded py-1 hover:bg-purple-700"
        (click)="showColumnMenu = false"
    >
        Cerrar
    </button>
</div>

<!-- Modal de motivo de baja -->
<div 
    *ngIf="showBajaEmployeeModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg max-w-md w-full relative">
        <!-- Header -->
        <div class="flex items-center justify-between px-6 py-3 border-b rounded-t-lg bg-[#E6E5E5]">
        <h2 class="text-xl font-bold text-[#0E9B86] mx-auto">Motivo de baja</h2>
        <button
            class="absolute top-2 right-6 text-black text-2xl font-bold"
            (click)="closeBajaEmployee();"
        >
            &times;
        </button>
        </div>
        <!-- Body -->
        <div class="px-6 py-6">
            <label class="block text-sm font-medium text-gray-700 mb-1">Empleado:</label>
            <label class="block text-sm font-medium text-[#005F6E] mb-4">{{ employeeData.fcNombre }} {{ employeeData.fcPaterno }} {{ employeeData.fcMaterno }}</label>
            <label class="block text-sm font-medium text-gray-700 mb-1">Descripcion</label>
            <input type="text" 
                [(ngModel)]="bajaReason"
                class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">
            <div class="flex justify-end mt-6">
                <button
                class="bg-[#005F6E] text-white rounded-md py-2 px-6 hover:bg-[#004C58]"
                (click)="confirmBajaEmployee()"
                >
                Dar de baja
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de motivo de vetado -->
<div 
    *ngIf="showVetaEmployeeModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg max-w-md w-full relative">
        <!-- Header -->
        <div class="flex items-center justify-between px-6 py-3 border-b rounded-t-lg bg-[#E6E5E5]">
        <h2 class="text-xl font-bold text-[#0E9B86] mx-auto">Motivo de veta</h2>
        <button
            class="absolute top-2 right-6 text-black text-2xl font-bold"
            (click)="closeVetarEmployee();"
        >
            &times;
        </button>
        </div>
        <!-- Body -->
        <div class="px-6 py-6">
            <label class="block text-sm font-medium text-gray-700 mb-1">Empleado:</label>
            <label class="block text-sm font-medium text-[#005F6E] mb-4">{{ employeeData.fcNombre }} {{ employeeData.fcPaterno }} {{ employeeData.fcMaterno }}</label>
            <label class="block text-sm font-medium text-gray-700 mb-1">Descripcion</label>
            <input type="text" 
                [(ngModel)]="vetarReason"
                class="border w-full p-2 rounded border-2 border-[#017D91] hover:ring-2 hover:border-[#017D91] focus:ring-2 focus:border-[#017D91]">
            <div class="flex justify-end mt-6">
                <button
                class="bg-[#005F6E] text-white rounded-md py-2 px-6 hover:bg-[#004C58]"
                (click)="confirmVetarEmployee()"
                >
                Vetar empleado
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de mapa -->
<div
    *ngIf="showMapsModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg max-w-md w-full relative">
        <!-- Header -->
        <div class="flex items-center justify-between px-6 py-3 border-b rounded-t-lg bg-[#E6E5E5]">
        <h2 class="text-xl font-bold text-[#0E9B86] mx-auto">Selecciona tu domicilio </h2>
        <button
            class="absolute top-2 right-6 text-black text-2xl font-bold"
            (click)="closeMapsModal();"
        >
            &times;
        </button>
        </div>
        <!-- Body -->
        <div class="px-6 py-6">
            <div *ngIf="googleMapsLoaded; else loadingMap">
                <google-map
                height="400px"
                width="100%"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="onMapClick($event)">
                <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
                </google-map>
            </div>
            <ng-template #loadingMap>
                <div class="p-4 text-center">Cargando mapa...</div>
            </ng-template>
            <div class="flex justify-end mt-6">
                <button
                    class="bg-[#005F6E] text-white rounded-md py-2 px-6 hover:bg-[#004C58]"
                    (click)="confirmLocation()"
                    [disabled]="!markerPosition">
                    Confirmar ubicación
                </button>
            </div>
        </div>
    </div>
</div>

 <!-- Modal homonimias -->
<div *ngIf="showHomonimiasModal"
     class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white rounded-lg shadow-lg max-w-2xl w-full relative">
    <!-- Header -->
    <div class="flex items-center justify-between rounded-t-lg bg-[#E6E5E5] px-4 py-3">
      <h3 class="text-xl font-bold text-[#0E9B86] mx-auto ">Posibles homonimias</h3>
      <button 
        (click)="closeHomonimiasModal()" 
        class="absolute top-2 right-6 text-black text-2xl font-bold">
            &times;
        </button>
    </div>

    <div class="p-4 max-h-80 overflow-y-auto">
      <p class="text-sm text-gray-600 mb-3">Se encontraron las siguientes coincidencias. Puedes cancelar o actualizar el registro existente con los datos actuales del formulario.</p>

      <div *ngIf="homonimias?.length; else noHomo">
        <div *ngFor="let h of homonimias" class="border rounded p-3 mb-3">
          <div class="flex items-start justify-between gap-4">
            <div>
              <div class="font-medium text-[#0E9B86]">
                {{ h.fcNombre }} {{ h.fcPaterno }} {{ h.fcMaterno }}
              </div>
              <div class="text-sm text-gray-600">
                RFC: {{ h.fiIdEmpleado || '-' }}
              </div>
              <div class="text-sm text-gray-600">
                Fecha de nacimiento: {{ h.fdFechaNac || '-' }}
              </div>
              <div 
                class="text-xs mt-1"
                [ngClass]="{
                            'text-gray-400': h.fiIdStatus === 0,
                            'text-[#005F6E]': h.fiIdStatus === 1,
                            'text-red-600': h.fiIdStatus === 2
                        }">
                Estado: {{ h.estatusDesc ?? (h.fiIdStatus != null ? h.fiIdStatus : '-') }}
              </div>
            </div>

            <div class="flex flex-col items-end gap-2">
              <button 
                *ngIf="btnUpdateEmployeeExistents" 
                (click)="updateExistingFromNew(h)" 
                class="bg-[#0E9B86] text-white hover:bg-[#0c8076] rounded py-1 px-3 text-sm">
                Actualizar empleado existente
              </button>
              <button 
                *ngIf="btnActivateEmployeeExistents" 
                (click)="reactivateEmployee(h)" 
                class="bg-[#005F6E] text-white rounded py-1 px-3 hover:bg-[#004C58] text-sm">
                Reactivar empleado existente
              </button>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noHomo>
        <div class="text-sm text-gray-500">No se detectaron homonimias.</div>
      </ng-template>
    </div>

    <div class="flex justify-end gap-3 p-3 border-t">
      <button (click)="closeHomonimiasModal()" class="px-4 py-2 rounded-md border bg-gray-400 hover:bg-gray-800 text-white">Cancelar</button>
    </div>
  </div>
</div>