<<div class="fixed inset-0 bg-black bg-opacity-20 flex items-center justify-center ">
    <div class="relative flex items-center space-x-4">
        <div class="flex text-6xl font-bold text-red-600 mt-8"
            style="font-family: 'Times New Roman', Times, serif;">
          <span class="animate-bounce">A</span>
          <span class="animate-bounce delay-75">s</span>
          <span class="animate-bounce delay-150">T</span>
          <span class="animate-bounce delay-300">e</span>
          <span class="animate-bounce delay-500">c</span>
          <span class="animate-bounce delay-700">I</span>
        </div>
    
        <div class="flex justify-center items-center h-screen ">
            <img src="assets/globo-asteci.png" alt="Globo girando" class="w-32 h-32 animate-spin duration-1000" />
        </div>

    </div>
</div>
